$pu: 0.3rem;
$pu2: $pu * 2;
$fh: "Finlandica", sans-serif;
$color-accent: #272846;
$rf-white: white;
$rf-light-blue: rgba(40, 40, 150, 0.25);
$rf-blue: #272846;
$very-blue: #272846;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 776px;
$header-background-size: $pu * 500;
